@import url('https://fonts.googleapis.com/css?family=audiowide|josefin+sans:100|Rambla&display=swap');

html{
    scroll-behavior: smooth;
}
body
{
    color: #283655 !important;
    background-color: #f7faff !important;
    font-family: 'Rambla', sans-serif;
}

h2,h3{
    font-family: 'audiowide', sans-serif ;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    text-shadow: -1px -1px 1px #283655 ;
 }
/*...................................HEADER............................................*/
.navbar{
    background-color: #FAFAFA;
    opacity: 0.9;
    height: 42px;
    transition: 0.7s;
}
.navbar-nav {
    width: 80% !important;
    margin: 0 auto;
    justify-content: space-between;
}

header{
    text-align: center;
    height: 100vh;
    background: url(media/header.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
}